<div class="row" xmlns="http://www.w3.org/1999/html">
    <div ng-class="divPan" >
         <div ng-class="class" ng-show="loading">
             <!--<div class="row">-->
                 <div class="col-lg-6">
                     <div class="input-group">
                         <span class="input-group-addon" id="basic-addon1">Search:</span>
                         <input type="text" ng-model="q" class="form-control" placeholder="search" aria-describedby="basic-addon1">
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="input-group">
                         <span class="input-group-addon" id="basic-addon2">Search:</span>
                         <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" style="width: 100px;" placeholder="Username" aria-describedby="basic-addon1">
                     </div>
                 </div><!-- /.col-lg-6 -->
             <!--</div>-->
             </br>
             <hr>
             <div class="row">
             <ol class="breadcrumb">
                 <li><a style="cursor: pointer" >Indicators Lists</a></li>
                 <li ng-if="loading==true"><a  style="cursor: pointer" ng-class="{'active':indName==indDetail.name}" ng-click="indicatordDetails(indDetail)">{{indDetail.name}}</a></li>
                 <li ng-if="showIndGroup==true"><a  style="cursor: pointer" ng-class="{'active':indName==indDetail.name}" ng-click="groupIndicatord(indicatorsObjectFromGroup.name,indicatorsObjectFromGroup.id)">{{indicatorsObjectFromGroup.name}}</a></li>
             </ol>
                 <ul class="list-group">
                     <li style="cursor: pointer" class="list-group-item" ng-click="indicatordDetails(ind)" dir-paginate="ind in indicatorData.indicators | filter:q | itemsPerPage: pageSize"  total-items="totalIndicators" current-page="currentPage" about="">
                         <!--data-content="{{popover.content}}" data-template-url="views/indicatorDetail.html" data-animation="am-flip-y" data-auto-close="1" bs-popover-->

                         <span class="badge col-md-offset-2" ng-repeat="group in ind.indicatorGroups"><a ng-click="groupIndicatord(group.name,group.id)" style="cursor: pointer;color: #fff !important;"  data-position="right" data-tooltip="Filter by this Group " >{{group.name}}</a></span>
                         {{ind.name}}
                     </li>
                 </ul>

             <div class="row">

                 <div class="col-xs-12">
                     <div class="text-center">
                         <dir-pagination-controls boundary-links="true"  on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
                     </div>
                 </div>
             </div>
            </div>

        </div>
    </div>
    <div class="center" ng-show="loader">
        <div class="text text-center" id="loading-bar-container"></div>
    </div>

    <div ng-class="indGroup">
        <div class="list-group">
            <button type="button" class="list-group-item"  ng-click="indicatordDetails(indgroup)" ng-repeat="indgroup in indicatorsObjectFromGroup.indicators" >{{indgroup.name}}
            </button>
        </div>
    </div>

       <div ng-class="classTohide" ng-show="sectionhide">
           <div class="row">
               <div class="col-sm-12">
                   <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
                       <div class="panel panel-default" ng-repeat="panel in panels">
                           <div class="panel-heading" role="tab">
                               <h4 class="panel-title">
                                   <a bs-collapse-toggle>
                                       {{ indDetail.name }}
                                   </a>
                                   <button type="button" class="close" aria-label="Close" ng-click="hide()"><span aria-hidden="true">&times;</span></button>
                               </h4>
                           </div>
                           <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                               <!--<div class="panel-body">-->
                                   <table class="table table-responsive table-bordered table-striped">
                                       <tr>
                                           <td>Display Name</td>
                                           <td>{{indDetail.displayName}}</td>
                                       </tr>
                                       <tr>
                                           <td>Indicator Type</td>
                                           <td>{{indDetail.indicatorType.name}}</td>
                                       </tr>
                                       <tr>
                                           <td>Numerator Description</td>
                                           <td>{{indDetail.numeratorDescription}}</td>
                                       </tr>
                                       <tr>
                                           <td>Denominator Description</td>
                                           <td>{{indDetail.denominatorDescription}}</td>
                                       </tr>
                                       <tr>
                                           <td>Numerator Formula</td>
                                           <td>
                                               <div class="list-group">
                                                   <a style="cursor: pointer" ng-click="numeratorDeatail(indDetail.numerator,expressionData.description)" class="list-group-item"
                                                      data-trigger="click"  data-placement="centre" data-animation="am-flip-x" data-template-url="views/dictionary.html" bs-tooltip="expressionData"
                                                   >{{expressionData.description}}</a>
                                               </div>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td>Denominator Formula</td>
                                           <td>
                                               <div class="list-group">
                                                   <a ng-click="denominatorDetail(indDetail.denominator,expressionDenoData.description)" class="list-group-item">{{expressionDenoData.description}}</a>
                                               </div>
                                           </td>
                                       </tr>

                                   </table>
                               <!--</div>-->
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        <!--<indicator-detail></indicator-detail>-->
       </div>
 </div>
<script>
    $(document).ready(function(){
        $(".dropdown-button").dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
        });
        $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        $('.tooltipped').tooltip({delay: 50});
    });
</script>
