<div class="row" xmlns="http://www.w3.org/1999/html">
    <div ng-class="divPan" >
         <div ng-class="class" ng-show="loading">
             <!--<div class="row">-->
                 <div class="col-lg-6">
                     <div class="input-group">
                         <span class="input-group-addon" id="basic-addon1">Search:</span>
                         <input type="text" ng-model="q" class="form-control" placeholder="search" aria-describedby="basic-addon1">
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="input-group">
                         <span class="input-group-addon" id="basic-addon2">Search:</span>
                         <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" style="width: 100px;" placeholder="Username" aria-describedby="basic-addon1">
                     </div>
                 </div><!-- /.col-lg-6 -->
             <!--</div>-->
             </br>
             <hr>
             <div class="row">
             <ol class="breadcrumb">
                 <li><a style="cursor: pointer" >Indicators Lists</a></li>
                 <li ng-if="loading==true"><a  style="cursor: pointer" ng-class="{'active':indName==indDetail.name}" ng-click="indicatordDetails(indDetail)">{{indDetail.name}}</a></li>
                 <li ng-if="showIndGroup==true"><a  style="cursor: pointer" ng-class="{'active':indName==indDetail.name}" ng-click="groupIndicatord(indicatorsObjectFromGroup.name,indicatorsObjectFromGroup.id)">{{indicatorsObjectFromGroup.name}}</a></li>
             </ol>
                 <table>

                 </table>
                 <ul class="list-group">
                     <li class="list-group-item"  dir-paginate="ind in indicatorData.indicators | filter:q | itemsPerPage: pageSize"  total-items="totalIndicators" current-page="currentPage" about="">
                         <a style="cursor: pointer;color: #555;" ng-click="indicatordDetails(ind)">{{ind.name}}</a>
                         <span class="badge" ng-repeat="group in ind.indicatorGroups">
                          <a ng-click="groupIndicatord(group.id,group.name)" style="cursor: pointer;color: #fff !important;"  data-position="right" data-tooltip="Filter by this Group " >{{group.name}}</a>
                         </span>
                     </li>

                 </ul>

             <div class="row">

                 <div class="col-xs-12">
                     <div class="text-center">
                         <dir-pagination-controls boundary-links="true"  on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
                     </div>
                 </div>
             </div>
            </div>

        </div>
    </div>
    <div class="center" ng-show="loader">
        <div class="text text-center" id="loading-bar-container"></div>
    </div>

    <div ng-class="indGroup" ng-show="showIndGroupDetails">
        <div class="panel-group" ng-model="panels.activePanelind" role="tablist" aria-multiselectable="true" bs-collapse>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            {{ groupName }}:
                        </a>
                        <span style="cursor: pointer" ng-click="seach()" class="glyphicon glyphicon-search"></span>
                        <button type="button" class="close" aria-label="Close" ng-click="hide()"><span aria-hidden="true">&times;</span></button>
                        <input type="text" ng-model="z" placeholder="search">
                    </h4>
                </div>
                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="list-group">
                    <a class="list-group-item"  ng-click="indicatordDetailGroup(indgroup.id,indgroup,$index)" ng-repeat="indgroup in indicatorsObjectFromGroup.indicators| filter:z" >{{indgroup.name}}
                        <div ng-class="details" ng-show="showDetails" ng-if="uid==indgroup.id">
                            <indicator-detail></indicator-detail>
                        </div>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>

       <div ng-class="classTohide" ng-show="sectionhide">
           <div class="row">
               <div class="col-sm-12">
                   <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab">
                               <h4 class="panel-title">
                                   <a bs-collapse-toggle>
                                       {{ indDetail.name }}
                                   </a>
                                   <button type="button" class="close" aria-label="Close" ng-click="hide()"><span aria-hidden="true">&times;</span></button>
                               </h4>
                           </div>
                           <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                               <!--<div class="panel-body">-->
                                   <table class="table table-responsive table-bordered table-striped">
                                       <tr>
                                           <td>Display Name</td>
                                           <td>{{indDetail.displayName}}</td>
                                       </tr>
                                       <tr>
                                           <td>Indicator Type</td>
                                           <td>{{indDetail.indicatorType.name}}</td>
                                       </tr>
                                       <tr>
                                           <td>Numerator Description</td>
                                           <td>{{indDetail.numeratorDescription}}</td>
                                       </tr>
                                       <tr>
                                           <td>Denominator Description</td>
                                           <td>{{indDetail.denominatorDescription}}</td>
                                       </tr>
                                       <tr>
                                           <td>Numerator Formula</td>
                                           <td>
                                               <div class="list-group">
                                                   <a style="cursor: pointer" ng-click="numeratorDeatail(indDetail.numerator,expressionData.description)" class="list-group-item" ng-class="active">{{expressionData.description}}</a>
                                               </div>
                                               <div class="progress" ng-show="loaderDir">
                                                   <div id="progressouter" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                       <span class="sr-only" id="progress">100% Complete</span>
                                                   </div>
                                               </div>
                                               <div ng-show="loadData" class="panel-group" ng-model="panels.activePanels" role="tablist" aria-multiselectable="true" bs-collapse>
                                                   <div class="panel panel-default" ng-repeat="data in numeratorArray">
                                                       <div class="panel-heading" role="tab">
                                                           <h4 class="panel-title">
                                                               <a bs-collapse-toggle>
                                                                   {{ data.description }}
                                                               </a>
                                                           </h4>
                                                       </div>
                                                       <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                                           <div class="panel-body">
                                                               {{ data }}
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td>Denominator Formula</td>
                                           <td>
                                               <div class="list-group">
                                                   <a style="cursor: pointer" ng-click="denominatorDetail(indDetail.denominator,expressionDenoData.description)" class="list-group-item" ng-class="actives">{{expressionDenoData.description}}</a>
                                               </div>
                                               <div class="progress" ng-show="loaderDirs">
                                                   <div  class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                       <span class="sr-only" >100% Complete</span>
                                                   </div>
                                               </div>
                                               <div ng-show="loadData2" class="panel-group" ng-model="panels.activePanels" role="tablist" aria-multiselectable="true" bs-collapse>
                                                   <div class="panel panel-default" ng-repeat="data in numeratorArray">
                                                       <div class="panel-heading" role="tab">
                                                           <h4 class="panel-title">
                                                               <a bs-collapse-toggle>
                                                                   {{ data.description }}
                                                               </a>
                                                           </h4>
                                                       </div>
                                                       <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                                           <div class="panel-body">
                                                               {{ data }}
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </td>
                                       </tr>

                                   </table>
                               <!--</div>-->
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        <!--<indicator-detail></indicator-detail>-->
       </div>
 </div>
