<div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                {{ indDetail.name }}
            </div>
            <!--<div class="panel-body">-->
            <!--<div class="panel-body">-->
            <table class="table table-responsive table-bordered table-striped">
                <tr>
                    <td>Display Name</td>
                    <td>{{indDetail.displayName}}</td>
                </tr>
                <tr>
                    <td>Indicator Type</td>
                    <td>{{indDetail.indicatorType.name}}</td>
                </tr>
                <tr>
                    <td>Numerator Description</td>
                    <td>{{indDetail.numeratorDescription}}</td>
                </tr>
                <tr>
                    <td>Denominator Description</td>
                    <td>{{indDetail.denominatorDescription}}</td>
                </tr>
                <tr>
                    <td>Numerator Formula</td>
                    <td>
                        <div class="list-group">
                            <a style="cursor: pointer" ng-click="numeratorDeatail(indDetail.numerator,expressionData.description)" class="list-group-item" ng-class="active">{{expressionData.description}}</a>
                        </div>
                        <div class="progress" ng-show="loaderDir">
                            <div id="progressouter" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only" id="progress">100% Complete</span>
                            </div>
                        </div>
                        <div ng-show="loadData" class="panel-group" ng-model="panels.activePanels" role="tablist" aria-multiselectable="true" bs-collapse>
                            <div class="panel panel-default" ng-repeat="data in numeratorArray">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a bs-collapse-toggle>
                                            {{ data.description }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                    <div class="panel-body">
                                        {{ data }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Denominator Formula</td>
                    <td>
                        <div class="list-group">
                            <a style="cursor: pointer" ng-click="denominatorDetail(indDetail.denominator,expressionDenoData.description)" class="list-group-item" ng-class="actives">{{expressionDenoData.description}}</a>
                        </div>
                        <div class="progress" ng-show="loaderDirs">
                            <div  class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only" >100% Complete</span>
                            </div>
                        </div>
                        <div ng-show="loadData2" class="panel-group" ng-model="panels.activePanels" role="tablist" aria-multiselectable="true" bs-collapse>
                            <div class="panel panel-default" ng-repeat="data in numeratorArray">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a bs-collapse-toggle>
                                            {{ data.description }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                    <div class="panel-body">
                                        {{ data }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
            <!--</div>-->
        <!--</div>-->
    </div>


